<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    <h2>Inscription</h2>
    
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
            {{ form.first_name }}
        </div>

        <div>
            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
            {{ form.last_name }}
        </div>

        <div>
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
        </div>

        <div>
            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
            {{ form.password1 }}
        </div>

        <div>
            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
            {{ form.password2 }}
        </div>



        <div>
            <label for="{{ form.mail.id_for_label }}">{{ form.mail.label }}</label>
            {{ form.mail }}
        </div>

        <div>
            <label for="{{ form.telephone.id_for_label }}">{{ form.telephone.label }}</label>
            {{ form.telephone }}
        </div>

        <div>
            <label for="{{ form.license.id_for_label }}">{{ form.license.label }}</label>
            {{ form.license }}
        </div>

        <div>
            <label for="{{ form.genre.id_for_label }}">{{ form.genre.label }}</label>
            {{ form.genre }}
        </div>

        <div>
            <label for="{{ form.specialty.id_for_label }}">{{ form.specialty.label }}</label>
            {{ form.specialty }}
        </div>

        <!-- Bouton de soumission -->
        <button type="submit">S'inscrire</button>
    </form>
</body>
</html>
